@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: auto;
    height: 100%;
    font-family: 'Raleway';
}

nav{
    background-color: #83AD60;
}

.nav-img{
    display: block;
    height: 70px;
}

.menu-item{
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    text-decoration: none;
}

footer {
    background: #83AD60;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family: Raleway;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
  }
  
  
  
  
  .footer-links {
    display: flex;
    gap: 15px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    width: 204px;
    height: 158px;
    display: flex;
    justify-content: space-around;

  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-social {
    display: flex;
    gap: 10px;
  }
  
  .social-icon {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
  }
  
  .social-icon:hover {
    transform: scale(1.2);
  }
  
.footer-bottom {
    margin-top: 30px;
    font-size: 20px;
    opacity: 0.7;
    text-align: center;
    color: #fff;
}





.nav-menu li{
    list-style: none;
}

.nav-menu{
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    width: 581px;
    justify-content: space-between;
}
